.home-container {
    min-height: 100vh;
    background: #080d14;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-card {
    width: 400px;
    background: #151f2b;
    border: 4px solid #61a5fa;
    padding: 45px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow:
        8px 8px 0px #05080d,
        12px 12px 0px #425164;
}


.home-card h1 {
    color:#61a5fa;
    font-family:"Press Start 2P", monospace;
    font-size:28px;
    text-align:center;
}


.home-card h2 {
    color:#b9dcff;
    font-family:"Press Start 2P", monospace;
    font-size:12px;
    text-align:center;
}

.home-room p{
    padding-top: 20px;
}

.home-room p{
    color:#61a5fa;
    font-family:"Press Start 2P", monospace;
    font-size:12px;
    text-align:center;
}

.home-room h2{
    color:#b9dcff;
    font-family:"Press Start 2P", monospace;
    font-size:10px;
    text-align:center;
}

.home-card label {
    color:#b9dcff;
    font-family:"Press Start 2P", monospace;
    font-size:10px;
}


.home-card input {
    background:#080d14;
    border:3px solid #425164;
    padding:12px;
    color:white;
    font-family:monospace;
}


.home-card input:focus {
    outline:none;
    border-color:#61a5fa;
}


.divider {
    text-align:center;
    color:#61a5fa;
    font-family:"Press Start 2P", monospace;
    font-size:12px;
}